<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> 
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script>
<script type="text/javascript">
        $.ajax({
			 type: 'GET',
			 crossDomain: true,
			 dataType: 'json',
			 url: 'http://localhost/heroes/superhero.json',
            success: function (msg) {
                console.log(msg);
            },
            error: function (request, status, error) {
                alert(error);
            }
        });
</script>
